body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

h1 {
    font: Georgia bold 1.5em;
    color: blue
}

code {
    font-family: monospace;
    font-style: italic;
    text-decoration: underline;
    color:green
}
