{% extends "layout.html" %}

{% block content %}
  <h2 class="content-subhead">Search</h2>

  <form action="/search" method="get">
    <input name="query" value="{{ query }}" />
    <button type="submit">Search</button>
  </form>
  
  {% if query %}
  
  {% if results %}
        <h3>Search results for "{{ query }}":</h3>
        {% for result in results %}
        <ul>
            <li><a href="/chapter/{{ result[0] }}">{{ result[0] }}. {{ result[1] }}</a></li>
        </ul>
        {% endfor %}
    {% else %}
        <p>No results for "{{ query }}" ☹️.</p>

    {% endif %}
  {% endif %}
{% endblock %}