{% extends "layout.html" %}

{% block content %}
  <h2 class="content-subhead">Search</h2>

  <form action="/search" method="get">
    <input name="query" value="{{ query }}" />
    <button type="submit">Search</button>
  </form>
  
  {% if query %}
  
  {% if results %}
        <h3>Search results for "{{ query }}":</h3>
        {% for chapter in results %}
        <ul>
            <li>{{ chapter.chapter_num }}. {{ chapter.chapter_name }}</li>
            <ul>
            {% for paragraph in chapter.paragraphs %}
                    <li><a href="{{ url_for('chapters', num=chapter.chapter_num) }}#{{ paragraph.p_num }}">{{ paragraph.p_text }}</a></li>
            {% endfor %}
            </ul>
        </ul>
        {% endfor %}
    {% else %}
        <p>No results for "{{ query }}" ☹️.</p>

    {% endif %}
  {% endif %}
{% endblock %}