/* 
Big picture notes
  - Create grid
    - Navbar: This would ordinarily be a flex item, but since we're not supposed to use flex, this could be another grid?  'Nav-grid'?
  - Place items in the grid
  - 
*/

/* eric meyer reset ************************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote::before, blockquote::after,
q::before, q::after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Project CSS Starts here ************************************************/

* {
  margin: 0;
  padding: 0;
}

html {
  font: normal 24px Helvetica, Arial, sans-serif;
}

html,
body {
  width: 100%;
}

header, h1 {
  background-color: blue;
  color: white;
}

header {
  padding: 1rem;
  text-align: center;
  grid-area: header;
}

nav {
  background-color: cyan;
  grid-area: nav;

  ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
  }
  
  li {
    text-align: center;
    width: auto;
    flex-grow: 1;
  }
  
  a {
    box-sizing: border-box;
    display: inline-block;
    padding: 1rem 0;
    text-decoration: none;
    width: 100%;
  }
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

body {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas: 
    "header header header"
    "nav nav nav"
    "aside-1 article-1 aside-2"
    "aside-3 article-2 article-2"
    "foot foot foot";
}

a:focus,
a:hover {
  background-color: blue;
  color: yellow;
}

article,
aside {
  padding: 0 1rem;
}

aside {
  background-color: lightgreen;
}

#aside-1 {
  grid-area: aside-1;
}

#aside-2 {
  grid-area: aside-2;
}

#aside-3 {
  background-color: pink;
  grid-area: aside-3;
}

#article-1 {
  grid-area: article-1;
}

#article-2 {
  background-color: skyblue;
  grid-area: article-2;
}

p {
  margin: 1rem 0;
}



footer {
  grid-area: foot;
  background-color: yellow;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: "logo copyright";
}

#copyright {
  margin: 0 1rem;
  grid-area: copyright;
  justify-self: end;
  align-self: center;
}

#logo {
  background-color: orange;
  grid-area: logo;
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
