body {
  font-family: 'Courier New', Courier, monospace;

  margin: 0;  /* Prevent margins from causing scrollbars */
  min-height: 100vh;
  display: grid;
  place-items: center;
}

div#container {
  padding: 10px;
  /* border: black 1px solid; */
  background-color: rgb(196, 93, 255);
  max-width: 400px;
}

section.lang {
  background-color: rgba(207, 207, 207, 1);
}


