/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Steven's CSS */
html {
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 690px;
    margin: 8px;
}


footer {
    font: 12px monospace;
    color: gray;
    width: 50%;
    line-height: normal;
    margin-top: 3em;
}

div, section {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;

}

section {
    border-bottom: 1px solid black;
}

/* ARTICLE */
article{
    border: 2px black solid;
    padding: 12px;
}

article h1 {
    font-family: 'Helvetica Black','Arial Black', sans-serif;
    font-size: 2rem;
}

article h2 {
    display: inline;
    font-family: 'Helvetica Black','Arial Black', sans-serif;
    font-size: 0.8rem;
}

article p {
    font-size: 1rem;
    line-height: 1.2;
}

dt, dd {
    display: inline;
}

dt {
    font-family: 'Helvetica Black','Arial Black', sans-serif;
}

/* Right-justify the last dd element */
dd:last-child {
    text-align: right;
}


/* Thematic break / horizontal rule */
article hr {
    border: none;
    border-top: 12px solid black;
    margin: 0;
}