:root {
  --todo-width: 350px;
}

body {
  font-family: 'Courier New', Courier, monospace;
}

div#context-menu {
  position: fixed;
  top: 20px;
  left: 20px;
}

ul {
  padding-inline-start: 0px;
  list-style-type: none;
}

ul#todolist li {
  display: flex;
  justify-content: space-between;
  background-color: rgb(221, 221, 221);
  margin: 1rem;
  padding: 0.8rem;
  max-width: var(--todo-width);
}

span#todo-text {
  background-color: bisque;
}

div.modal {
  background-color: aliceblue;
  border: black 1px solid;
  border-radius: 8px;
  padding: 1rem;
}

div#delete-prompt {
  position: fixed;
  z-index: 2;
  max-width: 350px;
  bottom: 30px;
  left: 30px;
}

div#delete-prompt * {
  position: relative;
  z-index: 5;
}

.align-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.hidden {
  display: none;
}

div#delete-prompt div.overlay {
  position: fixed;
  z-index: 1;
  background: rgba(255, 255, 255, 0.562);
  inset: 0;
}

button.x-button {
  display: inline-block;
  color: rgba(255, 255, 255, 0);
  background-color: rgba(255, 255, 255, 0);
  border-width: 0;
  transform: rotate(45deg);
  width: 1.5rem;
  height: 1.5rem;
}

button.x-button::after,
button.x-button::before {
  background: red;
  position: absolute;
  content: "";
}

button.x-button:hover {
  filter: invert(100%);
}

button.x-button::before {
  height: 3px;
  top: 50%;
  right: 0;
  left: 0;
  margin-top: -1px;
}

button.x-button::after {
  width: 3px;
  left: 50%;
  top: 0;
  bottom: 0;
  margin-left: -1px;
}
