@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

:root {
  --main-color: rgb(163, 33, 223);
}

body {
  font-family: "Fira Code", monospace;
  box-sizing: border-box;
  font-size: 14px;
}

header h1,
header label {
  color: white;
}

h1 {
  font-size: 2rem;
}

h1, 
.bold {
  font-weight: 500;
}

img {
  display: block;
  width: 100%;
  
}

label,
button {
  margin: 0.5rem;
}

header {
  padding: 1rem;
  background-color: var(--main-color);
}

div.showcase {
  display: grid;
  margin: 1rem;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(100px, 150px));
  gap: 1rem;
  align-content: start;
  justify-content: left;
}

div.showcase p {
  padding: 0.2rem 0rem;
}

div.showcase-item {
  /* box-sizing: border-box;
  padding: 1rem; */
  width: 100%;
  /* outline: 1px red solid; */
}

div.showcase-item figure {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  aspect-ratio: 1.3;
}