{% extends 'layout.html' %}

{% block content %}
    <a class="add" href="/lists/new">New List</a>
    {% if lists %}
    <ul id="lists">
      {% for lst in lists %}
        <li>
          <a href="{{ url_for('one_list', id=lst['id']) }}">
            <h2>{{ lst['title'] }}</h2>
            <p>{{ lst['todos'] | count }}</p>
          </a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p id="no_list">You don't have any todo lists. Why not create one?</p>
  {% endif %}
{% endblock %}


{% block header_links %}
  <a class="add" href="/lists/new">New List</a>
{% endblock %}